*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
app/gradle/wrapper/gradle-wrapper.properties
app/release/app-release.apk
app/src/main/res/menu/menu_homefilter.xml
app/src/main/res/layout/dialog_home_filter.xml
app/release/output.json
app/gradle/wrapper/gradle-wrapper.jar
app/.idea/workspace.xml
app/.idea/runConfigurations.xml
app/.idea/modules.xml
app/.idea/codeStyles/Project.xml
app/local.properties
app/gradlew.bat
app/gradlew
app/.idea/misc.xml
app/.idea/gradle.xml
gradlew
app/google-services.json
